<footer>
<p>
  This site uses <a href="https://github.com/philhawksworth/eleventyone" target="blank">EleventyOne</a> based on <a href="https://www.11ty.io/" target="blank">Eleventy</a>. Find the repo on <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
