<footer>
<p>
 Chief Beaver @ this lodge: <a href="https://twitter.com/sherrie_go" target="blank">Sherrie Gossett</a> // This site uses <a href="https://github.com/philhawksworth/eleventyone" target="blank">EleventyOne</a> + <a href="https://www.netlify.com/products/edge/" target="blank">Netlify</a>. 
</p>
<p>
  Updated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
