<footer>
<p>
  This site uses <a href="https://github.com/philhawksworth/eleventyone" target="blank">EleventyOne</a> based on <a href="https://www.11ty.io/" target="blank">Eleventy</a>. It flies on <a href="https://www.netlify.com/products/edge/" target="blank"Netlify</a>. 
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
